asyncgui==0.6.3
asynckivy==0.6.4
certifi==2026.7.22
charset-normalizer==3.5.1
docutils==0.23
filetype==1.2.0
idna==3.19
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
kivymd==2.0.0
materialshapes==0.3
materialyoucolor==3.0.4
pillow==10.4.0
pycairo==1.29.1
Pygments==2.21.0
pypiwin32==223
pywin32==312
requests==2.34.2
urllib3==2.7.0
